*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* style of right-up */

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 14px;
}
nav a {
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: rgb(0,0,0, 0.88);
    cursor: pointer;
    padding: 0px 5px;
}
nav a:hover {
    text-decoration: underline;
    opacity: 0.88;
}
nav button {
    border: 1px solid #0b55cc;
    font-weight: bold;
    outline: none;
    background: #0b55cc;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
}
.section-1 {
    flex: 1;
}
.section-1 .logo {
    display: block;
    margin: 1px auto;
    margin-top: 245px;
}
/* style of search box */

.s-box{
    width: auto;
    max-width: 650px;
    margin: 50px auto;
    position: relative;
    margin-top: 10px;
    text-align: center;
}
.s-box .s-input {
    display: block;
    border: 1px solid #ddd;
    color: rgba(0,0,0, 0.87);
    font-size: 16px;
    padding: 13px;
    padding-left: 50px;
    border-radius: 20px;
    width: 100%;
    transition: box-shadow 100ms;
    outline: none;
}
.s-box .s-input:hover {
    border: 1px solid rgb(199, 199, 199);
    box-shadow:  0 0 2px rgba(0,0,0, 0.05),
                 0 0 2px rgba(0,0,0, 0.05),
                 0 0 3px rgba(0,0,0, 0.05),
                 0 0 4px rgba(0,0,0, 0.05),
                 0 0 5px rgba(0,0,0, 0.05),
                 0 0 4px rgba(0,0,0, 0.05),
                 0 0 5px rgba(0,0,0, 0.05),
}
.s-box .search-icon {
    width: 20px;
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 14px;
}
.s-box .camera-icon {
    width: 27px;
    position: absolute;
    top: 8px;
    right: 50px;
}
.s-box .vs-icon {
    width: 30px;
    position: absolute;
    top: 8px;
    right: 10px;
}
.s-btn {
    border: 1px solid #fafafa;
    padding: 12px 16px;
    color: rgb(26, 26, 26);
    font-size: 14px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: border-color 100ms;
}
.s-btn:hover {
    border: 1px solid rgb(131, 131, 131);
}
.s-btn-image {
    border: 1px solid #fafafa;
    padding: 12px 16px;
    color: rgb(26, 26, 26);
    font-size: 20px;
    border-radius: 15px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: border-color 100ms;
}
.s-btn-image:hover {
    border: 1px solid rgb(131, 131, 131);
}
.lang {
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: #111;
}
.lang a {
    margin-left: 5px;
    color: #1a0dab;
}
.lang a:hover{
    text-decoration: underline;
}
footer {
    background: #f2f2f2;
}
footer a {
    color: #5f6368;
    display: inline-block;
    padding: 12px;
    font-size: 14px;
}
footer a:hover {
    text-decoration: underline;
}
.links {
    border-top: 1px solid #ddd;
    display: flex;
}
.link-1 {
    padding-left: 18.7px;
    flex: 1;
}
.link-2 {
    padding-right: 18.7px;
}